<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .feito{
      text-decoration: line-through;
      color: black;
      opacity: 0.7;
    }
  </style>
</head>
<body>
  <h2>Todo List</h2>
  <div id="app">
    <form @submit.prevent="cadastrarTarefa">
      <label for="lancar">
        Cadastre sua tarefa: 
        <input type="text" v-model="novaTarefa" placeholder="Estudar PIW">
      </label>
      <input type="submit" value="Enviar">
    </form>
    
    <ul>
      <li v-for="tarefa in tarefas" :key="tarefa.index" :class="{feito: tarefa.status}"> 
        {{ tarefa.texto }}
        <input type="checkbox" v-model="tarefa.status">
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="teste.js"></script>
  <!-- <script src="vanila.js"></script> -->
</body>
</html>
